@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cor-vermelho-forte: #930101;
  --cor-vermelho-fraco: #bf0101;
  --cor-laranja: #fe680a;
  --cor-amarelo: #ffbf1e;
  --cor-azul-fraco: #017bc4;
  --cor-azul-medio: #1a2263;
  --cor-azul-forte: #001645;
  --cor-preto: #1a2228;
  --cor-preto-transparente: #1a2228af;
  --cor-branco: #fcfcf7;

  --fonte-padrao: "Poppins", sans-serif;
  --fonte-titulo: "Poetsen One", sans-serif;

  --clamp-titulo-1: clamp(1.5rem, 1.1538rem + 1.5385vw, 3rem);
  --clamp-titulo-2: clamp(1.25rem, 0.9615rem + 1.2821vw, 2.5rem);
  --clamp-texto-padrao: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
}

/* Resets padrão */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  /* background-color: var(--cor-branco); */
}

/* fim do reset */

/* header */

.cabeca {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.cabecaMenu {
  width: 80%;
  height: 64px;
  z-index: 2;
  margin-top: 20px;
  position: absolute;
  top: 0;

}

.cabecaBarraMenu {
  width: 80%;
  padding: 0 20px;
  border-radius: 50px;
  position: fixed;

}

.iconCarrinho {
  width: 24px;
  height: auto;
}

.menuLogo {
  width: auto;
  height: 48px;
}

.menuLink {
  font-family: var(--fonte-padrao);
  color: var(--cor-azul-forte);
  font-weight: 600;
  font-size: 16px;
}

.menuLink:hover {
  scale: 1.2;
  color: var(--cor-laranja);
  transition: all 200ms linear;
}

.cabecaBanner {
  width: 100%;
  height: 100vh;
  min-height: 780px;
  position: relative;
}

.bannerConteudo {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.bannerBlocoChamada {
  width: 50%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerTitulo {
  width: 100%;
  text-align: center;
  font-family: var(--fonte-titulo);
  font-size: var(--clamp-titulo-1);
  color: var(--cor-branco);

}

.chamadaBtn {
  width: auto;
  height: auto;
  padding: 10px 10px;
  background-color: #000;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
  font-family: var(--fonte-padrao);
  color: var(--cor-branco);
  border: solid 3px var(--cor-preto);
  font-weight: 600;
  border-radius: 50px;
  box-shadow: inset 10px 5px 20px 10px var(--cor-preto), 14px 15px 20px -5px var(--cor-laranja);
}

.chamadaBtn:hover {
  scale: 0.9;
  box-shadow: inset -10px -5px 20px 10px var(--cor-preto);
  border: solid 3px var(--cor-branco);
  transition: all 200ms ease-in-out;
}

.espada01Btn {
  width: 40px;
  height: 40px;
  background-image: url("assets/img/iconSword01.svg");
  background-position: center;
  background-size: contain;
  mix-blend-mode: lighten;
}

.espada02Btn {
  width: 40px;
  height: 40px;
  background-image: url("assets/img/iconSword03.svg");
  background-position: center;
  background-size: contain;
  mix-blend-mode: lighten;
}


.bannerBlocoLogo {
  width: 40%;
  min-width: 320px;
  display: flex;
  justify-content: center;
}

.logoBanner {
  width: 60%;
  min-width: 320px;
  height: auto;
}

.bannerBack {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
}


/* main */

.principal {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: var(--cor-preto);
  z-index: 2;
}


/* Preludio */

.preludioContainer {
  width: 100%;
  min-width: 320px;
  padding: 100px 0;
}

.preludioConteudo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.preludioBoxImagem {
  width: 60%;
  min-width: 320px;
  display: flex;
  justify-content: center;
}

.preludioImg {
  width: 60%;
  min-width: 320px;
  height: auto;
}

.preludioBoxTextos {
  width: 40%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.preludioTextosDetalhe {
  background-color: var(--cor-laranja);
  opacity: 1;
  width: 150px;
  height: 5px;
  border-radius: 50px;
  align-self: center;
}

.preludioTitulo {
  width: 100%;
  text-align: center;
  font-family: var(--fonte-titulo);
  color: var(--cor-branco);
  font-size: var(--clamp-titulo-2);
}

.preludioTexto {
  width: 80%;
  text-align: center;
  font-family: var(--fonte-padrao);
  color: var(--cor-branco);
  font-size: clamp(1rem, 0.8269rem + 0.7692vw, 1.75rem);
}


/* About */

.sobre {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.sobreContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobrebanner {
  width: 100%;
  height: auto;
}

.sobrebannerImg {
  width: 100%;
  min-width: 360px;
  height: auto;
}

.sobreSanfona {
  width: 80%;
  min-width: 350px;
}

.sobreSanfonaItem,
.sobreSanfonaItem:not(.collapsed) {
  background-color: var(--cor-preto);
  font-family: var(--fonte-padrao);
  color: var(--cor-branco);
  font-size: var(--clamp-texto-padrao);
  outline-color: var(--cor-preto);
  border: none;
}

.sobreSanfonaInterno {
  background-color: var(--cor-branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.sanfonaTexto {
  width: 80%;
  min-width: 300px;
  font-family: var(--fonte-padrao);
  font-size: var(--clamp-texto-padrao);
}

.accordion-button::after {
  background-image: url("assets/img/simbolo_reduzido.png");
  background-size: contain;
}


.accordion-button:not(.collapsed)::after {
  background-image: url("assets/img/simbolo_reduzido_n.png");
  background-size: contain;
}

/* Produtos */

.produtosCardsContainer {
  padding: 50px 0;
}

.produtosContainer {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produtosTextos {
  width: 80%;
  min-width: 320px;
}

.produtosTitulo {
  font-family: var(--fonte-titulo);
  font-size: var(--clamp-titulo-2);
  color: var(--cor-azul-fraco);
}

.produtosTexto {
  font-family: var(--fonte-padrao);
  font-size: var(--clamp-texto-padrao);
  color: var(--cor-branco);
  font-weight: 500;
  line-height: 1.5;
}

.produtosCardsContainer {
  margin-top: 20px;
  width: 80%;
  min-width: 320px;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.cardPai {
  position: relative;
  box-shadow: 0px 0px 30px 10px var(--cor-azul-fraco);
}

.cardPai:not(:hover) {
  box-shadow: none;
  transition: all 200ms ease-in-out;
}

.cardDescricao {
  padding: auto;
  display: flex;
  flex-direction: column;
}

.cardTitulo {
  font-family: var(--fonte-titulo);
  color: #fe680a;
  text-transform: uppercase;
}

.cardTexto {
  font-family: var(--fonte-padrao);
  font-weight: 500;
  color: var(--cor-azul-forte);
}

.cardBtn {
  width: 80%;
  background-color: var(--cor-laranja);
  border: none;
  font-family: var(--fonte-padrao);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  position: absolute;
  bottom: 10px;
  align-self: center;
}

.cardBtn p {
  margin: 0;
}

.cardBtnDetalhe {
  width: 120px;
  font-weight: 300;
  font-size: 0.5;
  text-decoration: line-through;
}

.cardBtn:hover {
  background-color: var(--cor-azul-forte);
  scale: 0.9;
  transition: all 200ms ease-in-out;
}

.produtosTextosFinal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tituloFinal {
  width: 80%;
  min-width: 320px;
  font-family: var(--fonte-titulo);
  font-size: var(--clamp-titulo-2);
  color: var(--cor-azul-fraco);
  text-align: center;
  filter: drop-shadow(0px 0px 5px var(--cor-azul-fraco));
}

.produtosFinalTexto {
  width: 60%;
  min-width: 300px;
  font-family: var(--fonte-padrao);
  color: var(--cor-branco);
  font-weight: 500;
  font-size: var(--clamp-texto-padrao);
  text-align: center;
}

.produtosFinalBtn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--cor-laranja);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: inset 4px 10px 12px -1px var(--cor-amarelo), 5px 5px 14px -5px var(--cor-branco);
}

.produtosFinalBtn:hover {
  box-shadow: inset -4px -10px 12px -1px var(--cor-amarelo);
  transition: all 200ms ease-in-out;
}

.produtosFinalBtn p {
  font-family: var(--clamp-texto-padrao);
  color: var(--cor-branco);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

/* carrossel de depoimentos */

.depoimentosContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px ;
  gap: 10px;
  position: relative;
}


.carrosselCompleto {
  position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-width: 300px;
    height: auto;
}

.carrosselInterno {
  border-radius: 20px;
}

.carousel-control-next-icon {
  background-image: url("assets/img/btnR.png");
  background-size: contain;
  position: absolute;
  right: -25%;
}

.carousel-control-prev-icon {
  background-image: url("assets/img/btnL.png");
  background-size: contain;
  position: absolute;
  left: -25%;
}




/* rodape */
.rodape {
  width: 100%;
  height: auto;
  z-index: 2;
  bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.rodapeContainer {
  width: 100%;
  height: auto;
  min-height: 500px;
  background-color: var(--cor-preto-transparente);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  gap: 50px;

}

.rodapeBloco {
  width: 30%;
  min-width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.rodapeLogo {
  width: 60%;
  min-width: 300px;
  height: auto;
}

.rodapeBloco1Texto {
  width: 60%;
  min-width: 300px;
  font-family: var(--fonte-padrao);
  color: var(--cor-branco);
  text-align: right;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  font-weight: 500;
}

.blocoDeAssinatura {
  width: 300px;
}

.formNew {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-check-input:checked {
  background-color: var(--cor-laranja);
  border-color: var(--cor-laranja);
}

.form-control:focus {
  box-shadow: 0 0 0 .25rem var(--cor-laranja);
}


.newEmail {
  width: 60%;
  min-width: 300px;
}


.newsTexto {
  width: 60%;
  min-width: 300px;
  font-family: var(--fonte-padrao);
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  color: var(--cor-branco);
}

.newBtn {
  align-self: flex-end;
  background-color: var(--cor-laranja);
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  font-family: var(--fonte-padrao);
  font-weight: 600;
}

.newBtn:hover {
  background-color: var(--cor-azul-forte);
}



.rodapeFIm {
  width: 100%;
  min-height: 30px;
  padding: 5px 10px;
  background-color: var(--cor-preto);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodapeFimCopy {
  font-family: var(--fonte-padrao);
  color: var(--cor-branco);
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  text-align: center;
  margin: 0;
}



@media (max-width: 990px) {
  .bannerConteudo {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .preludioContainer {
    padding: 50px 0;
  }

  .preludioBoxTextos {
    margin-top: 50px;
  }

  .rodapeContainer {
    align-items: center;
    gap: 10px;
  }
}